body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: orange;
	width: 100%;
	padding-top: 20px;
	margin-bottom: 40px;
}

h1 {
	font-weight: 600;
	font-size: 24pt;
	margin-top: 0;
}


.col-4 {
  margin-bottom: 20px;
}

.container {
  border: 1px solid #d3d3d3;
}

.col-4 .text {
	padding: 2px 16px;
}

.col-4 img {
	width: 100%;
}

.col-4 h2 {
	font-size: 16pt;
}